body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:60px;
height:60px;
}
.canvasM{
width:15px;
height:15px;
}
.pixelM{
float: left;
width:3.75px;
height:3.75px;
}
.pixelM:nth-child(0){
background: rgb(145,14,50);
}
.pixelM:nth-child(3){
background: rgb(145,14,50);
}
.pixelM:nth-child(5){
background: rgb(0,0,0);
}
.pixelM:nth-child(6){
background: rgb(0,0,0);
}
.pixelM:nth-child(9){
background: rgb(0,0,0);
}
.pixelM:nth-child(10){
background: rgb(0,0,0);
}
.pixelM:nth-child(12){
background: rgb(145,14,50);
}
.pixelM:nth-child(15){
background: rgb(145,14,50);
}
