body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:600px;
height:16px;

filter: invert(1);
}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(49){
background: rgb(0,0,0);
}
.pixel:nth-child(50){
background: rgb(0,0,0);
}
.pixel:nth-child(51){
background: rgb(0,0,0);
}
.pixel:nth-child(52){
background: rgb(0,0,0);
}
.pixel:nth-child(89){
background: rgb(0,0,0);
}
.pixel:nth-child(92){
background: rgb(0,0,0);
}
.pixel:nth-child(109){
background: rgb(0,0,0);
}
.pixel:nth-child(112){
background: rgb(0,0,0);
}
.pixel:nth-child(170){
background: rgb(0,0,0);
}
.pixel:nth-child(171){
background: rgb(0,0,0);
}
