body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:240px;
height:480px;

}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(1){
background: rgb(200,55,45);
}
.pixel:nth-child(2){
background: rgb(124,25,08);
}
.pixel:nth-child(3){
background: rgb(124,25,08);
}
.pixel:nth-child(4){
background: rgb(124,25,08);
}
.pixel:nth-child(5){
background: rgb(124,25,08);
}
.pixel:nth-child(6){
background: rgb(124,25,08);
}
.pixel:nth-child(7){
background: rgb(124,25,08);
}
.pixel:nth-child(8){
background: rgb(200,55,45);
}
.pixel:nth-child(9){
background: rgb(124,25,08);
}
.pixel:nth-child(10){
background: rgb(200,55,45);
}
.pixel:nth-child(11){
background: rgb(124,25,08);
}
.pixel:nth-child(12){
background: rgb(124,25,08);
}
.pixel:nth-child(13){
background: rgb(124,25,08);
}
.pixel:nth-child(14){
background: rgb(124,25,08);
}
.pixel:nth-child(15){
background: rgb(200,55,45);
}
.pixel:nth-child(16){
background: rgb(124,25,08);
}
.pixel:nth-child(17){
background: rgb(124,25,08);
}
.pixel:nth-child(18){
background: rgb(124,25,08);
}
.pixel:nth-child(19){
background: rgb(200,55,45);
}
.pixel:nth-child(22){
background: rgb(200,55,45);
}
.pixel:nth-child(23){
background: rgb(124,25,08);
}
.pixel:nth-child(24){
background: rgb(124,25,08);
}
.pixel:nth-child(25){
background: rgb(124,25,08);
}
.pixel:nth-child(26){
background: rgb(124,25,08);
}
.pixel:nth-child(28){
background: rgb(200,55,45);
}
.pixel:nth-child(29){
background: rgb(200,55,45);
}
.pixel:nth-child(31){
background: rgb(124,25,08);
}
.pixel:nth-child(32){
background: rgb(124,25,08);
}
.pixel:nth-child(33){
background: rgb(124,25,08);
}
.pixel:nth-child(34){
background: rgb(124,25,08);
}
.pixel:nth-child(36){
background: rgb(200,55,45);
}
.pixel:nth-child(37){
background: rgb(200,55,45);
}
.pixel:nth-child(39){
background: rgb(124,25,08);
}
.pixel:nth-child(40){
background: rgb(124,25,08);
}
.pixel:nth-child(41){
background: rgb(124,25,08);
}
.pixel:nth-child(42){
background: rgb(124,25,08);
}
.pixel:nth-child(43){
background: rgb(200,55,45);
}
.pixel:nth-child(46){
background: rgb(200,55,45);
}
.pixel:nth-child(47){
background: rgb(124,25,08);
}
.pixel:nth-child(48){
background: rgb(124,25,08);
}
.pixel:nth-child(49){
background: rgb(124,25,08);
}
.pixel:nth-child(50){
background: rgb(200,55,45);
}
.pixel:nth-child(51){
background: rgb(124,25,08);
}
.pixel:nth-child(52){
background: rgb(124,25,08);
}
.pixel:nth-child(53){
background: rgb(124,25,08);
}
.pixel:nth-child(54){
background: rgb(124,25,08);
}
.pixel:nth-child(55){
background: rgb(200,55,45);
}
.pixel:nth-child(56){
background: rgb(124,25,08);
}
.pixel:nth-child(57){
background: rgb(200,55,45);
}
.pixel:nth-child(58){
background: rgb(124,25,08);
}
.pixel:nth-child(59){
background: rgb(124,25,08);
}
.pixel:nth-child(60){
background: rgb(124,25,08);
}
.pixel:nth-child(61){
background: rgb(124,25,08);
}
.pixel:nth-child(62){
background: rgb(124,25,08);
}
.pixel:nth-child(63){
background: rgb(124,25,08);
}
.pixel:nth-child(64){
background: rgb(200,55,45);
}
.pixel:nth-child(65){
background: rgb(200,55,45);
}
.pixel:nth-child(66){
background: rgb(124,25,08);
}
.pixel:nth-child(67){
background: rgb(124,25,08);
}
.pixel:nth-child(68){
background: rgb(124,25,08);
}
.pixel:nth-child(69){
background: rgb(124,25,08);
}
.pixel:nth-child(70){
background: rgb(124,25,08);
}
.pixel:nth-child(71){
background: rgb(124,25,08);
}
.pixel:nth-child(72){
background: rgb(200,55,45);
}
.pixel:nth-child(73){
background: rgb(200,55,45);
}
.pixel:nth-child(74){
background: rgb(124,25,08);
}
.pixel:nth-child(75){
background: rgb(124,25,08);
}
.pixel:nth-child(76){
background: rgb(124,25,08);
}
.pixel:nth-child(77){
background: rgb(124,25,08);
}
.pixel:nth-child(78){
background: rgb(124,25,08);
}
.pixel:nth-child(79){
background: rgb(124,25,08);
}
.pixel:nth-child(80){
background: rgb(200,55,45);
}
.pixel:nth-child(81){
background: rgb(200,55,45);
}
.pixel:nth-child(82){
background: rgb(124,25,08);
}
.pixel:nth-child(83){
background: rgb(124,25,08);
}
.pixel:nth-child(84){
background: rgb(124,25,08);
}
.pixel:nth-child(85){
background: rgb(124,25,08);
}
.pixel:nth-child(86){
background: rgb(124,25,08);
}
.pixel:nth-child(87){
background: rgb(124,25,08);
}
.pixel:nth-child(88){
background: rgb(200,55,45);
}
.pixel:nth-child(89){
background: rgb(200,55,45);
}
.pixel:nth-child(90){
background: rgb(124,25,08);
}
.pixel:nth-child(91){
background: rgb(124,25,08);
}
.pixel:nth-child(92){
background: rgb(124,25,08);
}
.pixel:nth-child(93){
background: rgb(124,25,08);
}
.pixel:nth-child(94){
background: rgb(124,25,08);
}
.pixel:nth-child(95){
background: rgb(124,25,08);
}
.pixel:nth-child(96){
background: rgb(200,55,45);
}
.pixel:nth-child(97){
background: rgb(200,55,45);
}
.pixel:nth-child(98){
background: rgb(124,25,08);
}
.pixel:nth-child(99){
background: rgb(124,25,08);
}
.pixel:nth-child(100){
background: rgb(124,25,08);
}
.pixel:nth-child(101){
background: rgb(124,25,08);
}
.pixel:nth-child(102){
background: rgb(124,25,08);
}
.pixel:nth-child(103){
background: rgb(124,25,08);
}
.pixel:nth-child(104){
background: rgb(200,55,45);
}
.pixel:nth-child(105){
background: rgb(200,55,45);
}
.pixel:nth-child(106){
background: rgb(124,25,08);
}
.pixel:nth-child(107){
background: rgb(124,25,08);
}
.pixel:nth-child(108){
background: rgb(124,25,08);
}
.pixel:nth-child(109){
background: rgb(124,25,08);
}
.pixel:nth-child(110){
background: rgb(124,25,08);
}
.pixel:nth-child(111){
background: rgb(124,25,08);
}
.pixel:nth-child(112){
background: rgb(200,55,45);
}
.pixel:nth-child(113){
background: rgb(200,55,45);
}
.pixel:nth-child(114){
background: rgb(124,25,08);
}
.pixel:nth-child(115){
background: rgb(124,25,08);
}
.pixel:nth-child(116){
background: rgb(124,25,08);
}
.pixel:nth-child(117){
background: rgb(124,25,08);
}
.pixel:nth-child(118){
background: rgb(124,25,08);
}
.pixel:nth-child(119){
background: rgb(124,25,08);
}
.pixel:nth-child(120){
background: rgb(200,55,45);
}
.pixel:nth-child(121){
background: rgb(200,55,45);
}
.pixel:nth-child(122){
background: rgb(124,25,08);
}
.pixel:nth-child(123){
background: rgb(124,25,08);
}
.pixel:nth-child(124){
background: rgb(124,25,08);
}
.pixel:nth-child(125){
background: rgb(124,25,08);
}
.pixel:nth-child(126){
background: rgb(124,25,08);
}
.pixel:nth-child(127){
background: rgb(124,25,08);
}
.pixel:nth-child(128){
background: rgb(200,55,45);
}
