body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:210px;
height:360px;
}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(2){
background: rgb(255,255,12);
}
.pixel:nth-child(3){
background: rgb(255,255,12);
}
.pixel:nth-child(4){
background: rgb(255,255,12);
}
.pixel:nth-child(5){
background: rgb(255,255,12);
}
.pixel:nth-child(6){
background: rgb(255,255,12);
}
.pixel:nth-child(9){
background: rgb(255,255,12);
}
.pixel:nth-child(10){
background: rgb(255,255,12);
}
.pixel:nth-child(11){
background: rgb(255,255,12);
}
.pixel:nth-child(12){
background: rgb(255,255,12);
}
.pixel:nth-child(16){
background: rgb(255,255,12);
}
.pixel:nth-child(23){
background: rgb(255,255,12);
}
.pixel:nth-child(30){
background: rgb(255,255,12);
}
.pixel:nth-child(31){
background: rgb(255,255,12);
}
.pixel:nth-child(32){
background: rgb(255,255,12);
}
.pixel:nth-child(37){
background: rgb(255,255,12);
}
.pixel:nth-child(38){
background: rgb(255,255,12);
}
.pixel:nth-child(39){
background: rgb(255,255,12);
}
.pixel:nth-child(44){
background: rgb(255,255,12);
}
.pixel:nth-child(51){
background: rgb(255,255,12);
}
.pixel:nth-child(58){
background: rgb(255,255,12);
}
.pixel:nth-child(65){
background: rgb(255,255,12);
}
.pixel:nth-child(72){
background: rgb(255,255,12);
}
.pixel:nth-child(79){
background: rgb(255,255,12);
}
