body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:90px;
height:120px;
}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(1){
background: rgb(145,14,50);
}
.pixel:nth-child(5){
background: rgb(0,0,0);
}
.pixel:nth-child(6){
background: rgb(0,0,0);
}
.pixel:nth-child(8){
background: rgb(0,0,0);
}
.pixel:nth-child(9){
background: rgb(0,0,0);
}
.pixel:nth-child(10){
background: rgb(145,14,50);
}
