body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:120px;
height:120px;
}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(1){
background: rgb(43.355,8.218,7.2);
}
.pixel:nth-child(4){
background: rgb(43.355,8.218,7.2);
}
.pixel:nth-child(6){
background: rgb(0,0,0);
}
.pixel:nth-child(7){
background: rgb(0,0,0);
}
.pixel:nth-child(10){
background: rgb(0,0,0);
}
.pixel:nth-child(11){
background: rgb(0,0,0);
}
.pixel:nth-child(13){
background: rgb(43.355,8.218,7.2);
}
.pixel:nth-child(16){
background: rgb(43.355,8.218,7.2);
}
