body{
background: #333333;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
}
.canvas{
width:120px;
height:120px;
}.canvasM{
width:30px;
height:30px;
}
.pixelM{
float: left;
width:7.5px;
height:7.5px;
}
.pixelM:nth-child(0){
background: rgb(145,14,50);
}
.pixelM:nth-child(3){
background: rgb(145,14,50);
}
.pixelM:nth-child(5){
background: rgb(0,0,0);
}
.pixelM:nth-child(6){
background: rgb(0,0,0);
}
.pixelM:nth-child(9){
background: rgb(0,0,0);
}
.pixelM:nth-child(10){
background: rgb(0,0,0);
}
.pixelM:nth-child(12){
background: rgb(145,14,50);
}
.pixelM:nth-child(15){
background: rgb(145,14,50);
}
.pixel{
float: left;
width:30px;
height:30px;
}
.pixel:nth-child(1){
background: rgb(145,14,50);
}
.pixel:nth-child(4){
background: rgb(145,14,50);
}
.pixel:nth-child(6){
background: rgb(0,0,0);
}
.pixel:nth-child(7){
background: rgb(0,0,0);
}
.pixel:nth-child(10){
background: rgb(0,0,0);
}
.pixel:nth-child(11){
background: rgb(0,0,0);
}
.pixel:nth-child(13){
background: rgb(145,14,50);
}
.pixel:nth-child(16){
background: rgb(145,14,50);
}
